.flux-grid {
  display: flex;
  align-content: center;
}

.grid-button {
  width: 10em;
}

.grid-box {
  border: 2px solid black;
  padding: 5px;
}

.image-span {
  width: 100%;
  align-content: center;
}

.item-image {
  width: 50px;
  height: 50px;
  margin: auto;
}
